
.main-content {
  display: flex;
  flex-direction: column;
}

.main-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 10px;
}

.main-item-title {
  align-self: center;
  flex: 1;
}

.main-item-desc {
  overflow: scroll;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-self: center;
  //width: 70%;
  flex: 1 1 auto;
  text-align: end;
}