<form [formGroup]="form" (ngSubmit)="getPackets()" novalidate>
  <md-card class="main-toolbar">
    <div [style.width]="'70%'">
      <md-input-container 
          [style.width]="'100%'">
            <input mdInput 
                formControlName="items" 
                name="items"
                placeholder="Articles" 
                [class.has-error]="form.controls['items'].touched && form.controls['items'].invalid" 
                >
      </md-input-container>
      <p *ngIf="form.controls['items'].touched && form.controls['items'].invalid" [style.color]="'#f44336'">Valeur saisie incorrecte</p>
    </div>

      <span></span>

      <button type="submit" 
            md-raised-button 
            color="primary" 
            [disabled]="form.controls['items'].invalid"
            *ngIf="!loading"
          >Organiser</button>

      <md-progress-spinner
          *ngIf="loading"
          class="main-loading"
          [color]="'primary'"
          [mode]="'indeterminate'">
      </md-progress-spinner>
  </md-card>
</form>

<app-card [data]="data"></app-card>

<md-card class="main-content" *ngIf="error">
  <div class="main-item" [style.color]="'#f44336'" [style.fontWeight]="'bold'">
    <label>Message : </label>
    <div class="main-item-desc">
    {{ error.message }}
    </div>
  </div>
</md-card>
